{% extends "base.html" %}
{% block title %}All Posts{% endblock %}
{% block content %}
    <h1>Latest Posts</h1>
    <div class="posts">
        {% for post in posts %}
            <article class="post-card">
                <h2>
                    <a href="{% url 'posts:post_detail' post.id %}">{{ post.post_title }}</a>
                </h2>
                <p>{{ post.post_content|truncatechars:100 }}</p>
            </article>
            {% empty %}
                <p>No posts available.</p>
        {% endfor %}
    </div>
{% endblock %}
